<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to BUYCON
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
   <ion-button expand="block" (click)="getDataStandard()">getDataStandard</ion-button>
   <ion-button expand="block" (click)="getDataNativeHttp()">getDataNativeHttp</ion-button>
   <ion-button expand="block" (click)="getDataEveryWhere()">etDataEveryWhere</ion-button>
   <ion-list>
     <ion-item button detail lines="inset" *ngFor="let item of data" >
     {{item.beaconName}}
     </ion-item>
  
   </ion-list>

      <ion-list>
        <ion-item>
            <ion-button *ngIf="currentBeacon == '' ">welcome to nothing</ion-button >
            <ion-button *ngIf="currentBeacon === currentBeacon"  >{{this.currentBeacon}}</ion-button >
              <ion-button *ngIf="currentBeacon === currentBeacon"  >{{this.foundBeacons}}</ion-button >
            <!-- <ion-button *ngIF= `currentLocation = ${{item.beaconName}}`></ion-button> -->
        </ion-item>
        
      </ion-list>


 
</ion-content>
